@{
    ViewBag.Title = "Trung tâm bồi dưỡng văn hóa khoa học trải nghiệm";

}
<!-- banner -->
<div class="main-w3pvt mian-content-wthree text-center bg bg1" id="home" style="background-color: rgba(0, 0, 0, 0); margin-top: 0px;">
    <div class="container">
        <div class="style-banner mx-auto">
            <h3 class="editContent text-wh font-weight-bold">
                Chào mừng bạn đến <span class="editContent">Trung tâm</span>
                <br>Best for Education
            </h3>
            <!-- form -->
            <!-- //form -->
        </div>
    </div>
</div>
<!-- //banner -->
<!-- banner bottom -->
<section class="w3ls-bnrbtm py-5 editContent" id="about">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="editContent title-w3 mb-md-5 mb-sm-4 mb-2 text-center font-weight-bold">Giới thiệu</h3>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="~/Content/images/about.PNG" alt="about" class="img-fluid mt-4">
            </div>
            <div class="col-lg-6 pr-xl-5 mt-4 editContent">
                <p class="editContent sub-para" style="outline: none; cursor: inherit;">
                    Trung tâm BDVH Khoa học trải nghiệm là trung tâm bồi dưỡng văn hóa uy tín,
                    tổ chức các lớp BDVH khối Tiểu học, THCS, THPT. Qua nhiều năm hoạt động,
                    trung tâm đã nhận được nhiều đánh giá tích cực của phụ huynh và học sinh tại Tp.HCM.
                    Dưới sự chỉ đạo sát sao của Sở Giáo dục và Đào tạo Thành phố, Trung tâm BDVH Khoa học trải nghiệm
                    đã lĩnh hội và thực hiện các chủ trương đổi mới về nội dung chương trình, 
                    phương pháp giảng dạy với quan niệm bồi dưỡng văn hóa là bồi dưỡng cả về đạo đức, 
                    lối sống và kiến thức cho nhiều thế hệ học viên.
                </p>
                <p class="editContent sub-para pt-4 mt-4 border-top" style="outline: none; cursor: inherit;">
                    Với một nề nếp quản lý cùng kỷ cương vững chắc, mọi học viên học tập tại trung tâm đều được rèn luyện 
                    để tự biết mình phải có ý thức kỷ luật tự giác, tập trung vào học tập.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- //banner bottom -->
<!-- what -->
<div class="services py-5 bg bg1" id="what">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="editContent title-w3 mb-xl-5 mb-sm-4 mb-2 text-center text-wh font-weight-bold">Những gì chúng tôi có</h3>
        <div class="row w3pvtits-services-row text-center editContent">
            <div class="col-lg-4 serv-w3mk mt-5 editContent" style="outline: none; cursor: inherit;">
                <div class="w3pvtits-services-grids editContent" style="outline: none; cursor: inherit;">
                    <div class="ser-icon editContent" style="outline: none; cursor: inherit;">
                        <span class="fa fa-leanpub" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                    </div>
                    <h4 class="editContent text-bl my-4" style="outline: none; cursor: inherit;">Môi trường học tập năng động</h4>
                    <p class="editContent text-left" style="outline: none; cursor: inherit;">
                        Đến với trung tâm học viên sẽ được trải nghiệm quá trình học
                        tập vô cùng bổ ích, hấp dẫn. Môi trường học tập ở trung tâm
                        tạo cho học viên cảm giác thoải mái, từ đó giúp
                        học viên tiếp thu các bài học một cách nhanh chóng và hiệu quả.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 serv-w3mk mt-5 editContent">
                <div class="w3pvtits-services-grids editContent">
                    <div class="ser-icon editContent" style="outline: none; cursor: inherit;">
                        <span class="fa fa-graduation-cap" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                    </div>
                    <h4 class="editContent text-bl my-4" style="outline: none; cursor: inherit;">Giáo trình đầy đủ và chi tiết</h4>
                    <p class="editContent text-left" style="outline: none; cursor: inherit;">
                        Tất cả tài liệu cũng như giáo trình dùng trong quá trình giảng dạy
                        ở trung tâm BDVH Khoa học trải nghiệm đều được xét duyệt và kiểm tra chi tiết nhằm mang đến 
                        cho học viên lượng kiến thức đầy đủ cũng như thành thạo các kĩ năng nhất có thể.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 serv-w3mk mt-5 editContent" style="outline: none; cursor: inherit;">
                <div class="w3pvtits-services-grids editContent" style="outline: none; cursor: inherit;">
                    <div class="ser-icon editContent" style="outline: none; cursor: inherit;">
                        <span class="fa fa-users" aria-hidden="true" style="outline: none; cursor: inherit;"></span>
                    </div>
                    <h4 class="editContent text-bl my-4" style="outline: none; cursor: inherit;">Đội ngũ giáo viên chuyên môn</h4>
                    <p class="editContent text-left" style="outline: none; cursor: inherit;">
                        Tất cả giáo viên ở trung tâm đầu có bằng cấp chuyên môn đầy đủ.
                        Bên cạnh đó mỗi giáo viên trong trung tâm đều có kinh nghiệm phong 
                        phú trong công tác giảng dạy. Điều này đã tạo nên một không khí học tập
                        lí thú, hấp dẫn đối với tất cả học viên.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //what -->
<!-- courses -->
<section class="branches py-5 editContent" id="courses">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="editContent title-w3 mb-5 text-center font-weight-bold" style="outline: none; cursor: inherit;">Popular Courses</h3>
        <div class="row branches-position pt-lg-4">
            <div class="col-lg-3 col-sm-6 place-w3 mb-4 editContent" style="outline: none; cursor: inherit;">
                <!-- branch-img -->
                <div class="team-img team-img-1 bg bg1" style="outline: none; cursor: inherit;">
                    <div class="team-content editContent" style="outline: none; cursor: inherit;">
                        <h4 class="editContent text-wh" style="outline: none; cursor: inherit;">Course 1</h4>
                        <p class="editContent team-meta" style="outline: none; cursor: inherit;">Smod enim aug</p>
                    </div>
                </div>
            </div>
            <!-- / branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mb-4 editContent" style="outline: none; cursor: inherit;">
                <!-- team-img -->
                <div class="team-img team-img-2 bg bg1" style="outline: none; cursor: inherit;">
                    <div class="team-content editContent" style="outline: none; cursor: inherit;">
                        <h4 class="editContent text-wh" style="outline: none; cursor: inherit;">Course 2</h4>
                        <p class="editContent team-meta" style="outline: none; cursor: inherit;">Cura bitur eui</p>
                    </div>
                </div>
            </div>
            <!-- /.branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mb-4 editContent" style="outline: none; cursor: inherit;">
                <!-- team-img -->
                <div class="team-img team-img-3 bg bg1" style="outline: none; cursor: inherit;">
                    <div class="team-content editContent" style="outline: none; cursor: inherit;">
                        <h4 class="editContent text-wh" style="outline: none; cursor: inherit;">Course 3</h4>
                        <p class="editContent team-meta" style="outline: none; cursor: inherit;">In tempus ac</p>
                    </div>
                </div>
            </div>
            <!-- /.branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mb-4 editContent" style="outline: none; cursor: inherit;">
                <!-- team-img -->
                <div class="team-img team-img-4 bg bg1" style="outline: none; cursor: inherit;">
                    <div class="team-content editContent" style="outline: none; cursor: inherit;">
                        <h4 class="editContent text-wh" style="outline: none; cursor: inherit;">Course 4</h4>
                        <p class="editContent team-meta" style="outline: none; cursor: inherit;">Cuan nibh sit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //places -->
<!-- stats section -->
<div class="middlesection-w3pvt py-sm-5 pt-sm-0 pt-5 mt-5 editContent" id="stats">
    <div class="container py-xl-5 py-lg-3">
        <div class="offset-lg-4 offset-sm-3 left-build-wthree aboutright-w3pvtwthree">
            <h3 class="editContent title-w3-2 title-w3 mb-md-5 mb-4 font-weight-bold" style="outline: none; cursor: inherit;">Thống kê</h3>
            <div class="row">
                <div class="col-4 w3layouts_stats_left w3_counter_grid mb-4 editContent" style="outline: none; cursor: inherit;">
                    <h4 class="editContent counter" style="outline: none; cursor: inherit;">38+</h4>
                    <p class="editContent para-text-w3ls text-li let" style="outline: none; cursor: inherit;">Giáo viên</p>
                </div>
                <div class="col-4 w3layouts_stats_left w3_counter_grid2 mb-4 editContent" style="outline: none; cursor: inherit;">
                    <h4 class="editContent counter" style="outline: none; cursor: inherit;">100+</h4>
                    <p class="editContent para-text-w3ls text-li let" style="outline: none; cursor: inherit;">Học viên</p>
                </div>
                <div class="col-4 w3layouts_stats_left w3_counter_grid1 mb-4 editContent" style="outline: none; cursor: inherit;">
                    <h4 class="editContent counter" style="outline: none; cursor: inherit;">20+</h4>
                    <p class="editContent para-text-w3ls text-li let" style="outline: none; cursor: inherit;">Lớp học</p>
                </div>
            </div>
        </div>
    </div>
    <div class="property-paper">
        <img src="bundles/images/img3.png" alt="" class="img-fluid agents-w3">
    </div>
</div>
<!-- //stats section -->
<!-- gallery -->
<div class="gallery-cont text-center pb-5 position-relative" id="gallery">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="editContent title-w3 mb-sm-5 mb-4 text-center text-bl font-weight-bold">Một vài hình ảnh qua các khóa học</h3>
        <div class="row news-grids text-center no-gutters">
            <div class="col-md-4 gal-img">
                <a href="#gal1"><img src="~/Content/images/g1.jpg" alt="Gallery Image" class="img-fluid" style="outline: none; cursor: inherit;"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal2"><img src="~/Content/images/g2.jpg" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal3"><img src="~/Content/images/g3.jpg" alt="Gallery Image" class="img-fluid" style="outline: none; cursor: inherit;"></a>
            </div>
        </div>
        <div class="row news-grids text-center no-gutters">
            <div class="col-md-4 gal-img">
                <a href="#gal4"><img src="~/Content/images/g4.jpg" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal5"><img src="~/Content/images/g5.jpg" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal6"><img src="~/Content/images/g6.jpg" alt="Gallery Image" class="img-fluid"></a>
            </div>
        </div>
        <div class="row news-grids text-center no-gutters">
            <div class="col-md-4 gal-img">
                <a href="#gal7"><img src="~/Content/images/g7.jpg" alt="Gallery Image" class="img-fluid" style="outline: none; cursor: inherit;"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal8"><img src="~/Content/images/g8.jpg" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal9"><img src="~/Content/images/g9.jpg" alt="Gallery Image" class="img-fluid" style="outline: none; cursor: inherit;"></a>
            </div>
        </div>
        <!-- gallery popups -->
        <!-- popup-->
        <div id="gal1" class="pop-overlay animate">
            <div class="popup">
                <img src="~/Content/images/g1.jpg" alt="Popup Image" class="img-fluid" style="outline: none; cursor: inherit;">
                <p class="editContent mt-4" style="outline: none; cursor: inherit;">
                    Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat
                    placerat
                    dolor.
                </p>
                <a class="close" href="#gallery">×</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal2" class="pop-overlay animate">
            <div class="popup">
                <img src="~/Content/images/g2.jpg" alt="Popup Image" class="img-fluid" style="outline: none; cursor: inherit;">
                <p class="editContent mt-4" style="outline: none; cursor: inherit;">
                    Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat
                    placerat
                    dolor.
                </p>
                <a class="close" href="#gallery">×</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal3" class="pop-overlay animate">
            <div class="popup">
                <img src="~/Content/images/g3.jpg" alt="Popup Image" class="img-fluid" style="outline: none; cursor: inherit;">
                <p class="editContent mt-4" style="outline: none; cursor: inherit;">
                    Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat
                    placerat
                    dolor.
                </p>
                <a class="close" href="#gallery">×</a>
            </div>
        </div>
        <!-- //popup3 -->
        <!-- popup-->
        <div id="gal4" class="pop-overlay animate">
            <div class="popup">
                <img src="~/Content/images/g4.jpg" alt="Popup Image" class="img-fluid" style="outline: none; cursor: inherit;">
                <p class="editContent mt-4" style="outline: none; cursor: inherit;">
                    Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat
                    placerat
                    dolor.
                </p>
                <a class="close" href="#gallery">×</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal5" class="pop-overlay animate">
            <div class="popup">
                <img src="~/Content/images/g5.jpg" alt="Popup Image" class="img-fluid" style="outline: none; cursor: inherit;">
                <p class="editContent mt-4" style="outline: none; cursor: inherit;">
                    Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat
                    placerat
                    dolor.
                </p>
                <a class="close" href="#gallery">×</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal6" class="pop-overlay animate">
            <div class="popup">
                <img src="~/Content/images/g6.jpg" alt="Popup Image" class="img-fluid" style="outline: none; cursor: inherit;">
                <p class="editContent mt-4" style="outline: none; cursor: inherit;">
                    Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat
                    placerat
                    dolor.
                </p>
                <a class="close" href="#gallery">×</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal7" class="pop-overlay animate">
            <div class="popup">
                <img src="~/Content/images/g7.jpg" alt="Popup Image" class="img-fluid" style="outline: none; cursor: inherit;">
                <p class="editContent mt-4" style="outline: none; cursor: inherit;">
                    Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat
                    placerat
                    dolor.
                </p>
                <a class="close" href="#gallery">×</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal8" class="pop-overlay animate">
            <div class="popup">
                <img src="~/Content/images/g8.jpg" alt="Popup Image" class="img-fluid" style="outline: none; cursor: inherit;">
                <p class="editContent mt-4" style="outline: none; cursor: inherit;">
                    Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat
                    placerat
                    dolor.
                </p>
                <a class="close" href="#gallery">×</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal9" class="pop-overlay animate">
            <div class="popup">
                <img src="~/Content/images/g9.jpg" alt="Popup Image" class="img-fluid" style="outline: none; cursor: inherit;">
                <p class="editContent mt-4" style="outline: none; cursor: inherit;">
                    Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
                    placerat
                    placerat
                    dolor.
                </p>
                <a class="close" href="#gallery">×</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- //gallery popups -->
    </div>
</div>
<!-- //gallery -->
<!-- testimonials -->
<!-- //testimonials -->
<!-- apps -->
<!-- //apps -->
<!-- contact-->
<section class="contact py-5 bg bg1" id="contact">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="editContent title-w3 mb-sm-5 mb-4 text-center text-wh font-weight-bold">Liên hệ</h3>
        <div class="contact_grid_right pt-4">
            <form action="#" method="post">
                <div class="row contact_left_grid">
                    <div class="col-lg-6 con-left" data-aos="fade-up">
                        <div class="form-group editContent" style="outline: none; cursor: inherit;">
                            <input class="form-control" type="text" name="Name" placeholder="Name" required="">
                        </div>
                        <div class="form-group editContent" style="outline: none; cursor: inherit;">
                            <input class="form-control" type="email" name="Email" placeholder="Email" required="">
                        </div>
                        <div class="form-group editContent" style="outline: none; cursor: inherit;">
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="">
                        </div>
                    </div>
                    <div class="col-lg-6 con-right" data-aos="fade-up">
                        <div class="form-group editContent">
                            <textarea id="textarea" placeholder="Message" required=""></textarea>
                        </div>
                        <div class="sub-honey">
                            <button class="form-control btn" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- //contact -->